<div class="YourJourneyModule">

    {{#with media}}
        <div class="YourJourneyModule-media">{{this}}</div>
    {{/with}}

    {{#with title}}
        <div class="YourJourneyModule-title">{{this}}</div>
    {{/with}}

    {{#with description}}
        <div class="YourJourneyModule-description">{{this}}</div>
    {{/with}}

    {{#with endDate}}
        <div class="YourJourneyModule-endDate">{{this}}</div>
    {{/with}}

</div>